@import "~stylesheets/helpers"

.landing
  position: relative
  padding-top: 96px
  background-position: center top
  background-image: url("~assets/images/Home/landing__bg.svg")
  background-size: cover

  &::before
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background-position: center top
    background-image: url("~assets/images/confetti--white.svg")
    background-size: 200px
    content: ""
    opacity: 0.1

  @media #{$medium-up}
    padding-top: 120px

.landing__content
  position: relative
  z-index: 5

.landing__logo
  margin-bottom: 24px

  @media #{$medium-up}
    margin-bottom: 48px

.landing__heading
  margin-top: 0
  margin-bottom: 16px
  font-size: 24px
  line-height: 40px

  @media #{$medium-up}
    font-size: 32px
    line-height: 48px
