// TODO: Move these to some kind of mixins file
=bgcolor($color)
  background-color: $color

=border($color)
  border-color: $color

=box-shadow($color)
  box-shadow: 0 2px 12px 0 rgba($color, 0.3)

=hover($color)
  &:hover
    transform: translateY(-4px) scale(1.02)
    background-color: lighten($color, 10)
    box-shadow: 0 12px 15px 0 rgba($color, 0.2)

=o-btn($color)
  +bgcolor($color)
  +box-shadow($color)
  +border($color)
  +hover($color)

.o-btn
  padding: 7px 24px
  border-width: 1px
  border-style: solid
  border-radius: 20px
  border-color: transparent
  background: none
  text-decoration: none
  white-space: nowrap
  transition-duration: $t-duration
  transition-property: transform box-shadow background-color
  transition-timing-function: $t-easing

.o-btn--pink
  +o-btn($c-pink)

.o-btn--purple
  +o-btn($c-purple)

.o-btn--green
  +o-btn($c-green)

.o-btn--blue
  +o-btn($c-blue)

.o-btn--orange
  +o-btn($c-orange)

.o-btn--hollow
  background-color: transparent
  box-shadow: none
