.o-card
  padding: 48px 16px
  border-radius: 8px
  background-color: $c-white
  box-shadow: 0 12px 25px 0 rgba($c-ship-gray, 0.05)

  @media #{$medium-up}
    padding-right: 24px
    padding-left: 24px
