.o-input,
.o-textarea
  padding: 8px 16px
  border-radius: 4px
  background-color: $c-white
  color: $c-ship-gray
  font-family: $ff-roboto
  font-size: $fs-16
  font-weight: $fw-regular
  line-height: $lh-16
  box-shadow: 0 4px 0 0 rgba($c-ship-gray, 0.05)

.o-textarea
  resize: none
