@import "~stylesheets/utils/helpers"

.node__landing
  position: relative
  background-position: center top
  background-image: url("~assets/images/Node/landing__bg.svg")
  background-size: cover

.node__qualities
  background-position: center top
  background-image: url("~assets/images/qualities__bg.svg")
  background-size: 100% 100%

.node__why-we-chose
  background-color: $c-alabaster

.node__inventi-plus-node
  position: relative
  background-position: center bottom
  background-image: url("~assets/images/Node/inventi__bg.svg")
  background-size: cover

  &::before
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 120px
    background-position: center top
    background-image: url("~assets/images/Node/inventi__wave.svg")
    background-size: 800px 100%
    background-repeat: no-repeat
    content: ""

    @media #{$medium-up}
      height: 170px
      background-size: 100% 100%

    @media #{$large-up}
      height: 250px

  &::after
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    height: 60px
    background-position: center bottom
    background-image: url("~assets/images/inventi__bottom-wave.svg")
    background-size: 100% 100%
    background-repeat: no-repeat
    content: ""

    @media #{$medium-up}
      height: 80px

    @media #{$large-up}
      height: 100px

.node__technologies
  position: relative
  background-color: $c-alabaster
  background-position: center bottom
  background-image: url("~assets/images/technologies__wave.svg")
  background-size: cover
