@import "~stylesheets/helpers"

.blog__landing
  position: relative
  padding-top: 120px
  padding-bottom: 104px
  background-position: center center
  background-image: url("~assets/images/Blog/landing__bg.svg")
  background-size: cover

  @media #{$medium-up}
    padding-top: 144px
    padding-bottom: 180px

  @media #{$large-up}
    padding-top: 160px
    padding-bottom: 240px

.blog__posts
  padding-top: 48px
  padding-bottom: 64px

.blog__post:not(:last-of-type)
  margin-bottom: 48px
