@import "~stylesheets/helpers"

.hire-us
  padding: 64px 0
  background-color: $c-alabaster

.hire-us--dark
  position: relative
  background-position: center top
  background-image: url("~assets/images/Homepage/landing__bg.svg")
  background-size: 110%
