@import "~stylesheets/helpers"

.blog-post__article

  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    font-family: $ff-roboto
    font-weight: $fw-black

  p,
  li
    font-family: $ff-lora
    font-size: $fs-20
    line-height: $lh-32
