@import "~stylesheets/helpers"
@import "~stylesheets/mixins/btn"

.testimonials
  position: relative
  z-index: 1
  padding-top: 48px

.testimonials__card
  min-height: 240px

.testimonials__avatar
  position: absolute
  top: 0
  left: 50%
  width: 80px
  height: 80px
  transform: translate(-50%, -50%)
  border: 5px $c-white solid
  border-radius: 100%

.testimonial__button
  transition-duration: $t-duration
  transition-property: transform box-shadow background-color
  transition-timing-function: $t-easing

.testimonial__button:not(.testimonial__button--active)
  color: rgba($c-ship-gray, 0.4)

.testimonial__button--active
  color: $c-pink

  &:hover
    +o-btn--hover--transform

.testimonial__button--prev
  svg
    transform: rotate(180deg)

.VueCarousel-slide // sass-lint:disable-line class-name-format
  width: 100% // for Slides being bigger that overflow mask when the content's too long
