@import "~stylesheets/helpers"

.foot
  padding-top: 48px
  padding-bottom: 64px
  background-color: $c-ship-gray

.foot__column
  text-align: center

  @media #{$large-up}
    text-align: left

    &:first-child
      flex-shrink: 100

    &:not(:first-child):not(:last-child)
      flex-basis: 188px
      flex-shrink: 0
      min-width: 188px

.foot__lang
  margin-left: 24px
  vertical-align: middle

  @media #{$medium-up}
    margin-left: 40px

  @media #{$large-up}
    vertical-align: top
