// Margins & paddings

.mt-24
  margin-top: 24px

.mr-8
  margin-right: 8px

.mb-0
  margin-bottom: 0

.mb-8
  margin-bottom: 8px

.mb-16
  margin-bottom: 16px

.mb-24
  margin-bottom: 24px

.mb-40
  margin-bottom: 40px

.mb-48
  margin-bottom: 48px

.ml-24
  margin-left: 24px

.md-mb-48
  @media #{$medium-up}
    margin-bottom: 48px

.md-ml-40
  @media #{$medium-up}
    margin-left: 40px
