*
  box-sizing: border-box

  &::before,
  &::after
    box-sizing: inherit

  &:focus
    outline: none

body
  min-width: 320px
  background-color: $c-ship-gray
  font-family: $ff-roboto

img
  max-width: 100%

button
  border: 0
  background: none

a
  display: inline-block
  color: inherit
  text-decoration: none
