*
  -webkit-font-smoothing: antialiased // sass-lint:disable-line no-vendor-prefixes
  box-sizing: border-box

  &::before,
  &::after
    box-sizing: inherit

  &:focus
    outline: none

body
  min-width: 320px
  background-color: $c-ship-gray
  font-family: $ff-roboto

img
  max-width: 100%

button
  padding: 0
  border: 0
  background: none
  cursor: pointer

  &:disabled
    cursor: not-allowed

fieldset
  margin: 0
  padding: 0
  border: 0

input,
textarea
  border: 0


::-webkit-input-placeholder // sass-lint:disable-line no-vendor-prefixes
  color: rgba($c-ship-gray, 0.4)

::-moz-placeholder // sass-lint:disable-line no-vendor-prefixes
  color: rgba($c-ship-gray, 0.4)

::-ms-input-placeholder // sass-lint:disable-line no-vendor-prefixes
  color: rgba($c-ship-gray, 0.4)

a
  display: inline-block
  color: inherit
  text-decoration: none
