// Globals
$global-width: 1200px !default;
$global-text-direction: ltr !default;
$global-left: if($global-text-direction == rtl, right, left);
$global-right: if($global-text-direction == rtl, left, right);
// Media queries
$breakpoints: (
  small: 0,
  medium: 640px,
  large: 880px,
  xlarge: 1024px,
  xxlarge: 1440px,
);
$breakpoint-classes: (small medium large xlarge);
// Grid
$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
  small: 20px,
  medium: 30px,
);

@import "~foundation-sites/scss/util/util";
@import "~stylesheets/vars/colors";
@import "~stylesheets/vars/fonts";
@import "~stylesheets/vars/transitions";
