// Normalize
@import "~normalize.css"

// Foundation
@import "foundation"

// Base
@import "base"

// Objects
@import "objects/btn"
@import "objects/card"
@import "objects/text"
@import "objects/wave"
@import "objects/animations"

// Utils
@import "utils/bgcolor"
@import "utils/color"
@import "utils/display"
@import "utils/font-size"
@import "utils/font-weight"
@import "utils/other"
@import "utils/position"
@import "utils/sizing"
@import "utils/spacing"
@import "utils/text"
@import "utils/valign"

.fade-enter-active,
.fade-leave-active
  transition-duration: 250ms
  transition-property: opacity

.fade-enter-to,
.fade-leave
  transition-delay: 250ms
  opacity: 1

.fade-enter,
.fade-leave-to
  opacity: 0
