// Normalize
@import "~normalize.css"

// Foundation
@import "foundation"

// Base
@import "base"

// Utils
@import "utils/bgcolors"
@import "utils/colors"
@import "utils/font-weights"
@import "utils/font-sizes"
@import "utils/utils"

// Common
@import "common/wave"

.fade-enter-active,
.fade-leave-active
  transition-duration: $t-duration
  transition-property: opacity

.fade-enter-active
  transition-delay: $t-duration

.fade-enter,
.fade-leave-active
  opacity: 0
