// Colors
$c-white: #fff;
$c-alabaster: #fafafa;
$c-mercury: #e1e1e1;
$c-bright-gray: #353b46;
$c-ship-gray: #363537;
$c-black: #000;

$c-pink: #f8188e;
$c-blue: #1869e5;
$c-violet: #bd2daa;
$c-purple: #684bc6;
$c-green: #2ec4b6;
$c-orange: #e46d75;
$c-scampi: #6b73ac;
$c-navy: #26485a;
