// Font families
$ff-roboto: "Roboto", sans-serif

// Font sizes
$fs-36: 36px
$fs-24: 24px
$fs-18: 18px
$fs-16: 16px
$fs-11: 11px

// Line heights
$lh-36: 56px
$lh-24: 40px
$lh-18: 32px
$lh-16: 24px
$lh-11: 16px

// Font weights
$fw-regular: 400
$fw-medium: 500
$fw-black: 900
