@import "~stylesheets/helpers"

$gradient: #8f2edd 0%, #b03ad1 25%, #c841c0 50%, #da4daa 75%, #eb4b9f 100%

.survey
  padding-top: 40px
  padding-bottom: 64px
  background-color: $c-alabaster
  background-position: center bottom
  background-image: url("~assets/images/wave--gray.svg")
  background-size: 300% 500px
  background-repeat: no-repeat

  @media #{$medium-up}
    padding-bottom: 104px
    background-size: 100% 350px

  @media #{$large-up}
    padding-bottom: 120px
    background-size: 100% 550px

.survey__header
  display: flex
  justify-content: space-between

.survey__btn
  width: 100%
  max-width: 320px
  background-image: linear-gradient(-45deg, $gradient)

  &:not(:disabled):hover
    +m-lift--hover
    +o-btn--hover--shadow($c-pink)

svg.survey__icon
  width: 24px
  height: 24px
