@import "~stylesheets/helpers"

$gradient: #8f2edd 0%, #b03ad1 25%, #c841c0 50%, #da4daa 75%, #eb4b9f 100%

.survey
  padding-top: 40px
  padding-bottom: 64px
  background-color: $c-alabaster
  background-position: center bottom
  background-image: url("~assets/images/wave--gray.svg")
  background-size: 300% 500px
  background-repeat: no-repeat

  @media #{$medium-up}
    padding-bottom: 104px
    background-size: 100% 350px

  @media #{$large-up}
    padding-bottom: 120px
    background-size: 100% 550px

.survey__header
  display: flex
  justify-content: space-between

.survey__input
  display: none

.survey__label
  display: block
  cursor: pointer

  @media #{$medium-up}
    // height: 192px // TODO: Either cut the title or set fixed height (192 or 216)

.survey__input:checked + .survey__label
  background-image: linear-gradient(-135deg, $gradient)

  .survey__icon,
  .survey__heading-3
    color: $c-white

.survey__icon
  width: 100%
  height: 48px

.survey__heading-3
  margin-top: 0
  margin-bottom: 0

.survey__btn
  width: 100%
  max-width: 320px
  background-image: linear-gradient(-45deg, $gradient)
