@import "~stylesheets/helpers"

.contact
  position: relative
  margin-top: -100px
  padding-top: 160px
  padding-bottom: 96px
  background-position: center top
  background-image: url("~assets/images/Home/contact__bg.svg")
  background-size: 100% 100%

  @media #{$medium-up}
    padding-top: 184px

.contact__map
  position: absolute
  top: 0
  right: 0
  display: none
  width: auto
  max-width: none
  height: 100%

  @media #{$large-up}
    right: -230px
    display: block

.contact__content
  position: relative
  z-index: 5

.contact__card
  max-width: 530px
  margin-right: auto
  margin-left: auto

  @media #{$large-up}
    margin-left: 0
