@import "~stylesheets/helpers"

.blog__card--dark
  box-shadow: 0 24px 48px 0 rgba($c-ship-gray, 0.45)

.blog-card__content
  padding: 24px 32px 40px

  @media #{$medium-up}
    padding: 48px

.blog-card__cover
  height: 200px
  padding: 0

  @media #{$medium-up}
    height: auto

.blog-card__img
  position: absolute
  width: 100%
  height: 100%
  background-position: center
  background-size: cover
  background-repeat: no-repeat

.blog-card__triangle--right--light,
.blog-card__triangle--right--dark,
.blog-card__triangle--left--light,
.blog-card__triangle--left--dark,
  @media #{$medium-up}
    &::after
      position: absolute
      bottom: 0
      left: 0
      width: 90px
      height: 100%
      content: ""

.blog-card__triangle--right--light
  @media #{$medium-up}
    &::after
      background: linear-gradient(to right bottom, $c-white 50%, transparent 50%)

.blog-card__triangle--right--dark
  @media #{$medium-up}
    &::after
      background: linear-gradient(to right bottom, $c-mine-shaft 50%, transparent 50%)

.blog-card__triangle--left--light
  @media #{$medium-up}
    &::after
      background: linear-gradient(to left bottom, transparent 50%, $c-white 50%)

.blog-card__triangle--left--dark
  @media #{$medium-up}
    &::after
      background: linear-gradient(to left bottom, transparent 50%, $c-mine-shaft 50%)
